<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.es.mapper.bookManger.MenuMapper">

    <insert id="addMenu">
        insert into tbl_menu(menu_name,pid) values (#{menu_name},#{pid})
    </insert>


    <resultMap id="resultMap" type="com.book.es.bean.Menu">
        <id property="id" column="id" />
        <result property="menuName" column="menu_name"/>
        <result property="url" column="url"/>
    </resultMap>

    <select id="selectMenu" resultMap="resultMap">
        select id,menu_name,url from tbl_menu where
        pid in
        <foreach collection="pid" index="index" item="pidItem" open="(" close=")" separator=",">
            #{pidItem}
        </foreach>
        group by menu_name
    </select>

    <select id="selectPidByRole" resultType="java.lang.Integer">
        select pid from tbl_role_permissions where rid=#{roleId}
    </select>



</mapper>