<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.es.mapper.bookManger.ThesisMapper">

    <insert id="addThesis">
        INSERT into tbl_thesis(`id`,`thesis_title`, `author`, `thesis_keyword`, `pdf`)
         values(#{id}, #{thesisTitle}, #{author}, #{thesisKeyword}
        <!--<foreach collection="author" item="item" index= "index"  separator=",">
            ${item}
        </foreach>
        ','
        <foreach collection="thesisKeyword" item="item" index= "index" separator=",">
            ${item}
        </foreach>-->
        ,#{pdf})
    </insert>

    <delete id="deleteThesis">
        delete from tbl_thesis where id=#{thesisId};
    </delete>

</mapper>